# Node dependencies
node_modules/

# Build output
dist/
build/
next/*

# Environment variables
.env
.env.*.local

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.vscode/
.vscode/*
.temp/*

# System files
.DS_Store
Thumbs.db

# Vite / CRA cache
.vite/
.cache/

# Supabase CLI metadata
.supabase/
supabase/.temp/
supabase/.output/



# Ignore separate nested repos
aurora-energy-flow/

# VS Code settings
.vscode/

#brain dump
.rhezusport
#ide
.vscode/*